BasedOnStyle: LLVM
IndentWidth: 2
ColumnLimit: 100
AllowShortIfStatementsOnASingleLine: true
AllowShortFunctionsOnASingleLine: Empty
AllowShortEnumsOnASingleLine: false
BinPackArguments: false
BinPackParameters: false
